{% load humanize %}

<div class="card-header border-bottom">
    <h3 class="card-title mb-0">{{page_title}} - {{ row.title }}</h3>
</div>
<div class="card-body">
    <div class="table-responsive">
        <div class="pt-3 txt-rt">
            <span>Total - {{ total_stock }} | Remaining to calculate - {{ to_calculate }} | STOCH - {{ row.count }}</span>
        </div>
        {% if row.stocks %}
        <table class="green-table">
            <tr>
                <th>Symbol</th>
                <th>Company</th>
                <th>EMA 200</th>
                <th>EMA 50</th>
                <th>Heishinki Ashi</th>
                <th>RSI</th>
                <th>RSI Crossed</th>
                <th>D Value</th>
            </tr>
            {% for item in row.stocks %}
            <tr>
                <td>{{ item.symbol }}</td>
                <td>{{ item.company_name }}</td>
                <td class="{% if item.ema_200_50 %}green-col{% else %}red-col{% endif %}">{{ item.ema_200_50 }}</td>
                <td class="{% if item.ema_50_20 %}green-col{% else %}red-col{% endif %}">{{ item.ema_50_20 }}</td>
                <td class="{% if item.ha_green %}green-col{% else %}red-col{% endif %}">{{ item.ha_green }}</td>
                <td class="{% if item.rsi_60 %}green-col{% else %}red-col{% endif %}">{{ item.rsi_0 }}</td>
                <td class="{% if item.rsi_crossed %}green-col{% else %}red-col{% endif %}">{{ item.rsi_crossed }}</td>
                <td class="{% if item.stoch_positive %}green-col{% else %}red-col{% endif %}">{{ item.stoch_black_0 }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>
