[Unit]
Description=Oroose django app
After=network.target

[Service]
User=ramesh
Group=ramesh
WorkingDirectory=/home/ramesh/oroose
ExecStart=/home/ramesh/oroose/venv/bin/gunicorn \
          --bind 0.0.0.0:8000 \
          oroose.wsgi:application
ExecStop=/usr/bin/kill -s TERM $MAINPID
ExecReload=/usr/bin/kill -s HUP $MAINPID
Always=start
[Install]
WantedBy=multi-user.target