{% extends "base/base.html" %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-4 col-sm-4">
            <div class="card configure-settings">
                <div class="card-header border-bottom">
                    <h3 class="card-title mb-0">Configure Settings</h3>
                </div>
                <div class="card-body">
                    <div id="configure_settings">
                        <table class="green-table">
                            <tr>
                                <th>Name</th>
                                <th>Satus</th>
                            </tr>
                            {% for item in items %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td class="text-center">
                                    <div class="form-check">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               value=""
                                               id="flexCheckDefault"
                                               data-target="{% url 'config_update' item.id %}"
                                               {% if item.status %}checked {% endif %}>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js_scripts %}
<script src="{% static 'js/configure_settings.js' %}" crossorigin="anonymous"></script>
{% endblock js_scripts %}
