{% extends "base/base.html" %}
{% load static %}

{% block title %}
<title>Oroose - Data Logs</title>
{% endblock title %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="card configure-settings">
                <div class="card-header border-bottom">
                    <h3 class="card-title mb-0">Data Logs</h3>
                </div>
                <div class="card-body">
                    <div id="data_logs">
                        <table class="green-table">
                            <tr>
                                <th>Date</th>
                                <th>Name</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Seconds</th>
                            </tr>
                            {% for item in items %}
                            <tr>
                                <td>{{ item.date }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.start_time }}</td>
                                <td>{% if item.end_time %}{{ item.end_time }}{% else %}-{% endif %}</td>
                                <td>{{ item.seconds_diff }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
