{% extends "base/base.html" %}
{% load static %}

{% block title %}
<title>Oroose - Mysuru</title>
{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="btn-list">
                        <button type="button" class="btn btn-primary" id="load_data">Load Data</button>
                        <button type="button" class="btn btn-primary ser_act" id="pull_fh" trigger-url="{% url 'pull_fh_api' %}">Pull Nifty 500</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card nifty-table">
                <div id="show_fh" trigger-url="{% url 'load_fh_view' %}"></div>
            </div>
        </div>
        <div class="col-12 col-sm-12">
            <div class="card nifty-table">
                <div id="show_fhz" trigger-url="{% url 'fhz_downtrend_view' %}"></div>
            </div>
        </div>
        <div class="col-12 col-sm-12">
            <div class="card nifty-table">
                <div id="show_error_fhz" trigger-url="{% url 'fhz_downtrend_error_view' %}"></div>
            </div>
        </div>
        <div class="col-12 col-sm-12">
            <div class="card nifty-table">
                <div id="show_sold_fhz" trigger-url="{% url 'fhz_downtrend_sold_view' %}"></div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js_scripts %}
<script src="{% static 'js/load_bengaluru.js' %}" crossorigin="anonymous"></script>
{% endblock js_scripts %}
