{% load humanize %}

<div class="card-header border-bottom">
    <h3 class="card-title mb-0">FH Zero</h3>
</div>
<div class="card-body">
    <div class="table-responsive">
        {% if progress %}
        <table id="fhzero" class="green-table">
            <tr>
                <th>Symbol</th>
                <th>Quantity</th>
                <th>Rank</th>
                <th>PP</th>
                <th>Last Price</th>
                <th>Sell ID</th>
                <th>Sell Price</th>
                <th>Current Price</th>
                <th>High</th>
                <th>Trigger</th>
                <th>Status</th>
                <th>Current PL</th>
            </tr>
            {% for item in progress %}
            <tr>
                <td>{{ item.symbol }}</td>
                <td>{{ item.quantity }}</td>
                <td>{% if item.rank %}{{ item.rank }}{% endif %}</td>
                <td class="value">{{ item.previous_price }}</td>
                <td class="value">{{ item.last_price }}</td>
                <td>{{ item.sell_id|default_if_none:"" }}</td>
                <td class="value">{{ item.sell_price }}</td>
                <td class="value">{{ item.current_price }}</td>
                <td class="value">{{ item.high_price }}</td>
                <td class="value">{{ item.trigger_price }}</td>
                <td>{{ item.status }}</td>
                <td class="value">{{ item.pl_price|floatformat:2 }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="7"></td>
                <td colspan="2">Total</td>
                <td class="value">{{ progress_data_realized|floatformat:2 }}</td>
            </tr>
        </table>
        {% endif %}

        <div class="pt-3 txt-rt">
            Last Updated on {% now "d-m-Y H:i:s" %}
        </div>
    </div>
</div>