{% load humanize %}

<div class="card-header border-bottom">
    <h3 class="card-title mb-0">FH Zero Sold</h3>
    <div class="mar-30"> Total records
        <span class="badge bg-primary">{{ items|length }} nos.</span>
    </div>

</div>
<div class="card-body">
    <div class="table-responsive">
        {% if items %}
        <table id="fhzero" class="green-table">
            <tr>
                <th>Update Date</th>
                <th>Symbol</th>
                <th>Quantity</th>
                <th>Last Price</th>
                <th>Buy ID</th>
                <th>Sell ID</th>
                <th>Buy Price</th>
                <th>Sell Price</th>
                <th>Status</th>
                <th>Profit/Loss</th>
            </tr>
            {% for item in items %}
            <tr>
                <td>{{ item.updated_date|date:'d-m-Y H:i:s' }}</td>
                <td>{{ item.symbol }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.last_price }}</td>
                <td>{{ item.buy_id|default_if_none:"" }}</td>
                <td>{{ item.sell_id|default_if_none:"" }}</td>
                <td>{{ item.buy_price }}</td>
                <td>{{ item.sell_price }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.profit_loss|floatformat:2 }}</td>

            </tr>
        {% endfor %}
            <tr>
                <td colspan="9"></td>
                <td colspan="2">Total</td>
                <td>{{ realized_amount|floatformat:2 }}</td>
            </tr>
        </table>
        {% endif %}

        <div class="pt-3 txt-rt">
            Last Updated on {% now "d-m-Y H:i:s" %}
        </div>
    </div>
</div>