{% load humanize %}

<div class="card-header border-bottom">
    <h3 class="card-title mb-0">TOP 10</h3>
</div>
<div class="card-body">
    <div class="table-responsive">
        {% if top_10 %}
        <table class="green-table">
            <tr>
                <th>Rank</th>
                <th>Time</th>
                <th>Symbol</th>
                <th>Company</th>
                <th>Last Price</th>
                <th>Percentage</th>
                <th>Signal</th>
                <th>Status</th>
                <th>PP2</th>
                <th>PP1</th>
                <th>PP0</th>
            </tr>
            {% for item in top_10 %}
            <tr class="{% if item.is_valid == False %} bg-danger {% else %} valid {% endif %}">
                <td>{% if item.rank %}{{ item.rank }}{% endif %}</td>
                <td>{{ item.created_date|date:'d-m-Y H:i:s' }}</td>
                <td>{{ item.symbol }}</td>
                <td>{{ item.company_name }}</td>
                <td class="value">{{ item.last_price }}</td>
                <td class="value">{{ item.percentage_change }}</td>
                <td>{{ item.signal_status }}</td>
                <td class="text-center">
                    <span class="badge {% if item.rank <= 5 %} bg-primary {% else %} bg-danger {% endif %}">
                        {% if item.rank <= 5 %} Winner {% else %} Runner {% endif %}
                    </span>
                </td>
                <td>{% if item.pp2 %}{{ item.pp2|floatformat:2 }}{% endif %}</td>
                <td>{% if item.pp1 %}{{ item.pp1|floatformat:2 }}{% endif %}</td>
                <td>{% if item.pp %}{{ item.pp|floatformat:2 }}{% endif %}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>