{% load humanize %}

<div class="card-header border-bottom">
    <h3 class="card-title mb-0">TOP 10</h3>
</div>
<div class="card-body">
    <div class="table-responsive">
        {% if top_10 %}
        <table class="green-table">
            <tr>
                <th>Symbol</th>
                <th>Company</th>
                <th>Last Price</th>
                <th>EMA 200</th>
                <th>EMA 50</th>
                <th>OSC Status</th>
                <th>DAY Status</th>
                <th>Accepted</th>
            </tr>
            {% for item in top_10 %}
            <tr class="{% if item.is_valid == False %} bg-danger {% else %} valid {% endif %}">
                <td>{{ item.symbol }}</td>
                <td>{{ item.company_name }}</td>
                <td class="value">{{ item.last_price }}</td>
                <td class="value">{{ item.ema_200 }}</td>
                <td class="value">{{ item.ema_50 }}</td>
                <td class="text-center">
                    <span class="badge {% if item.osc_status == 'YES' %} bg-primary {% else %} bg-danger {% endif %}">
                        {{ item.osc_status }}
                    </span>
                </td>
                <td class="text-center">
                    <span class="badge {% if item.day_status == 'YES' %} bg-primary {% else %} bg-danger {% endif %}">
                        {{ item.day_status }}
                    </span>
                </td>
                <td class="text-center">
                    <span class="badge {% if item.is_accepted %} bg-primary {% else %} bg-danger {% endif %}">
                        {{ item.is_accepted }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>