{% load humanize %}

<div class="card-header border-bottom">
    <h3 class="card-title mb-0">Nifty 500</h3>
</div>
<div class="card-body">
    <div class="table-responsive">
        {% if live_500 %}
        <table class="green-table">
            <tr>
<!--                <th>HR</th>-->
<!--                <th>LR</th>-->
<!--                <th>PR</th>-->
                <th>Rank</th>
                <th>Time</th>
                <th>Symbol</th>
                <th>Company</th>
<!--                <th>PP20</th>-->
<!--                <th>PP</th>-->
                <th>Last Price</th>
                <th>Percentage</th>
                <th>SS</th>
                <th>Status</th>
            </tr>
            {% for item in live_500 %}
            <tr>
<!--                <td>{% if item.highest_rank %}{{ item.highest_rank }}{% endif %}</td>-->
<!--                <td>{% if item.lowest_rank %}{{ item.lowest_rank }}{% endif %}</td>-->
<!--                <td>{% if item.previous_rank %}{{ item.previous_rank }}{% endif %}</td>-->
                <td>{% if item.rank %}{{ item.rank }}{% endif %}</td>
                <td>{{ item.time|date:'d-m-Y H:i:s' }}</td>
                <td>{{ item.symbol }}</td>
                <td>{{ item.company_name }}</td>
<!--                <td class="value">{{ item.previous_price_20min }}</td>-->
<!--                <td class="value">{{ item.previous_price }}</td>-->
                <td class="value">{{ item.last_price }}</td>
                <td class="value">{{ item.percentage_change }}</td>
                <td>{{ item.signal_status }}</td>
                <td class="text-center">
                    <span class="badge {% if item.rank <= 5 %} bg-primary {% else %} bg-danger {% endif %}">
                        {% if item.rank <= 5 %} Winner {% else %} Runner {% endif %}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        <div class="pt-3 txt-rt">
            <span class="badge {% if live_polling_status %} bg-primary {% else %} bg-danger {% endif %}">Polling Status</span>
            | {{ live_pull_on|naturaltime }} | Last Updated on {% now "d-m-Y H:i:s" %}
        </div>
    </div>
</div>