<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card nifty-table">
            {% include "mysuru/load_fh_view.html" %}
        </div>
    </div>
    <div class="col-12 col-sm-12">
        <div class="card nifty-table">
            {% include "mysuru/load_fh_zero_view.html" %}
        </div>
    </div>
    <div class="col-12 col-sm-12">
        <div class="card nifty-table">
            {% include "mysuru/load_fh_zero_error_view.html" %}
        </div>
    </div>
    <div class="col-12 col-sm-12">
        <div class="card nifty-table">
            {% include "mysuru/load_fh_zero_purchased_view.html" %}
        </div>
    </div>
</div>
