.green-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.green-table td, .green-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.green-table tr:nth-child(even){background-color: #f2f2f2;}

.green-table tr:hover {background-color: #ddd;}

.green-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #76b852;
    color: white;
}


.card .card-header h3::after {
  content: "";
  background-color: #76b852;
  position: absolute;
  left: 0px;
  top: 20px;
  width: 4px;
  height: 20px;
}

.txt-rt {
    text-align: right;
}

table td.value {
    text-align: right;
}

.navbar-dark .navbar-nav .nav-link.active {
    font-size: 18px;
}


.form-check-input:checked {
    background-color: #76b852;
    border-color: #76b852;
}

.mar-30 {
    margin-left: 30px;
}

