{% extends "base/base.html" %}
{% load static %}

{% block title %}
<title>Stoch</title>
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="btn-list">
                        <button type="button" class="btn btn-primary" id="load_stoch_daily_page" onclick="location.href='{% url 'load_stoch_daily_page' %}'">Load Stock</button>
                        <button type="button" class="btn btn-primary modal_act" trigger-url="{% url 'upload_daily_stock_file' %}" data-toggle="modal" data-target="#modal_popup_area">Upload Stock</button>
                        <button type="button" class="btn btn-primary" id="load_bhav_stoch_daily_page" onclick="location.href='{% url 'load_bhav_stoch_daily_page' %}'">Load Bhav</button>
                        <button type="button" class="btn btn-primary ser_act" id="calculate_stoch_daily_page" trigger-url="{% url 'calculate_stoch_daily_page' %}">Calculate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_popup_area" tabindex="-3" role="dialog" aria-labelledby="modal_popup_location_label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="modelresultarea" class="modal-content">
            </div>
        </div>
    </div>

    {% for row in stoch_result %}
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card nifty-table">
                {% include "stoch_daily/load_fh_view.html" %}
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock content %}

{% block js_scripts %}
<script src="{% static 'js/load_bengaluru.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/load_upload_file.js' %}" crossorigin="anonymous"></script>
{% endblock js_scripts %}
