{% extends "base/base.html" %}
{% load static %}

{% block title %}
<title>Oroose - Mysuru</title>
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="btn-list">
                        <button type="button" class="btn btn-primary ser_act" id="load_macd_page" trigger-url="{% url 'load_macd_page' %}" on-complete="Loading completed...">Load Stock</button>
                        <button type="button" class="btn btn-primary ser_act" id="calculate_macd_page" trigger-url="{% url 'calculate_macd_page' %}">Calculate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card nifty-table">
                {% include "macd/load_fh_view.html" %}
            </div>
        </div>
    </div>

{% endblock content %}

{% block js_scripts %}
<script src="{% static 'js/load_bengaluru.js' %}" crossorigin="anonymous"></script>
{% endblock js_scripts %}
