{% load humanize %}

<div class="card-header border-bottom">
    <h3 class="card-title mb-0">MACD - {{ row.title }}</h3>
</div>
<div class="card-body">
    <div class="table-responsive">
        <div class="pt-3 txt-rt">
            <span>Remaining to calculate - {{ to_calculate }} | MACD - {{ row.macd_count }}</span>
        </div>
        {% if row.macd_value %}
        <table class="green-table">
            <tr>
                <th>Symbol</th>
                <th>Company</th>
                <th>Last Price</th>
                <th>EMA 200</th>
                <th>EMA 50</th>
                <th>EMA 200 Percentage</th>
                <th>Trend Status</th>
            </tr>
            {% for item in row.macd_value %}
            <tr class="{% if item.is_valid == False %} bg-danger {% else %} valid {% endif %}">
                <td>{{ item.symbol }}</td>
                <td>{{ item.company_name }}</td>
                <td class="value">{{ item.price }}</td>
                <td class="value">{{ item.ema_200 }}</td>
                <td class="value">{{ item.ema_50 }}</td>
                <td class="value">{{ item.ema_200_percentage }}</td>
                <td class="text-center">
                    <span class="badge {% if item.trend_status %} bg-primary {% else %} bg-danger {% endif %}">
                        {% if item.trend_status %} YES {% else %} NO {% endif %}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>
