<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card nifty-table">
            <div class="card-header border-bottom">
                <h3 class="card-title mb-0">All Hour Data</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="pt-3 txt-rt">
                        <span>Total - {{ total_stock }} | Remaining to calculate - {{ to_calculate }} | Stock Count - {{ all_hr_data_count }}</span>
                    </div>
                    {% if all_hr_data_list %}
                    <table class="green-table">
                        <tr>
                            <th>S.No</th>
                            <th>Symbol</th>
                            <th>Company</th>
                            <th>Close</th>
                            <th>Stoch Black</th>
                            <th>Stoch Red</th>
                            <th>RSI</th>
                            <th>Rev RSI 60</th>
                            <th>Rev RSI 50</th>
                            <th>Rev RSI 40</th>
                        </tr>
                        {% for row in all_hr_data_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ row.symbol }}</td>
                            <td>{{ row.company_name }}</td>
                            <td>{{ row.hr_close }}</td>
                            <td>{{ row.hr_stoch_black_0 }}</td>
                            <td>{{ row.hr_stoch_red_0 }}</td>
                            <td>{{ row.hr_rsi_0 }}</td>
                            <td>{{ row.hr_rev_rsi_60 }}</td>
                            <td>{{ row.hr_rev_rsi_50 }}</td>
                            <td>{{ row.hr_rev_rsi_40 }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
