{% extends "base/base.html" %}
{% load static %}

{% block title %}
<title>{{title}}</title>
{% endblock title %}

{% block content %}

    {% include "stock/all_day_view.html" %}
    {% include "stock/week_above_50_wma_day_stoch_cross_view.html" %}
    {% include "stock/week_above_50_wma_day_stoch_positive_view.html" %}
    {% include "stock/day_cross_50_wma_view.html" %}
    {% include "stock/day_above_50_wma_view.html" %}

{% endblock content %}

{% block js_scripts %}
<script src="{% static 'js/load_bengaluru.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/load_upload_file.js' %}" crossorigin="anonymous"></script>
{% endblock js_scripts %}
