<div class="card-body">
    <button type="button" class="btn btn-primary mr-1" id="potential_trend_page_fetch" onclick="location.href='{% url 'potential_trend_page_fetch' 'm15' %}'">Fetch</button>
    <button type="button" class="btn btn-primary mr-1" id="trend_page_reset_fetch" onclick="location.href='{% url 'trend_page_reset_fetch' 'm15' %}'">Reset</button>
    {% for item in pages %}
    <div class="table-responsive">
        <div class="pt-3 txt-rt">
            <span>Total - {{ total_stock }} | Remaining to calculate - {{ to_calculate }} | Potential - {{ potential_count }}</span>
        </div>
        {% if item.stocks %}
        <table class="green-table">
            <tr>
                <th>Symbol</th>
                <th>Company</th>
                <th>Close</th>
                <th>HA Cross 0</th>
                <th>HA Cross 1</th>
                <th>HA Cross 2</th>
                <th>HA Cross 3</th>
            </tr>
            {% for row in item.stocks %}
            <tr>
                <td>{{ row.symbol }}</td>
                <td>{{ row.company_name }}</td>
                <td>{{ row.m15_close }}</td>
                <td {% if row.m15_ha_cross_0 %}class="green-col"{% endif %}>{{ row.m15_ha_cross_0 }}</td>
                <td {% if row.m15_ha_cross_1 %}class="green-col"{% endif %}>{{ row.m15_ha_cross_1 }}</td>
                <td {% if row.m15_ha_cross_2 %}class="green-col"{% endif %}>{{ row.m15_ha_cross_2 }}</td>
                <td {% if row.m15_ha_cross_3 %}class="green-col"{% endif %}>{{ row.m15_ha_cross_3 }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
    {% endfor %}
</div>