{% load static %}
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="btn-list">
                        <button type="button" class="btn btn-primary" id="15_min_rsi_page" onclick="location.href='{% url 'intraday' %}'">15 Min Positive</button>
                        <button type="button" class="btn btn-primary" id="15_min_negative_page" onclick="location.href='{% url 'intraday_negative' %}'">15 Min Negative</button>
                        <button type="button" class="btn btn-primary" id="5_min_rsi_page" onclick="location.href='{% url 'intraday_5min_positive' %}'">5 Min Positive</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
