{% extends "base/base.html" %}
{% load static %}

{% block title %}
<title>{{title}}</title>
{% endblock title %}

{% block content %}

    {% include "stock/wk_ha_0_cross.html" %}
    {% include "stock/wk_ha_1_cross.html" %}
    {% include "stock/wk_close_below_ha_0_green_open.html" %}
    {% include "stock/wk_close_below_ha_0_red_open.html" %}
    {% include "stock/wk_close_above_ha_0_red_open.html" %}

{% endblock content %}

{% block js_scripts %}
<script src="{% static 'js/load_upload_file.js' %}" crossorigin="anonymous"></script>
{% endblock js_scripts %}
