{% extends "base/base.html" %}
{% load static %}

{% block title %}
<title>{{title}}</title>
{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card nifty-table">
                <div class="card-header border-bottom">
                    <h3 class="card-title mb-0">{{title}}</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="pt-3 txt-rt">
                            <span>Total - {{ total_stock }} | Remaining to calculate - {{ to_calculate }} | Short Term - {{ short_term_count }}</span>
                        </div>
                        {% if stocks %}
                        <table class="green-table">
                            <tr>
                                <th>Symbol</th>
                                <th>Company</th>
                                <th>Close</th>
                                <th>EMA 200</th>
                                <th>EMA 50</th>
                                <th>EMA 20</th>
                                <th>Stoch Cross</th>
                                <th>RSI Cross</th>
                            </tr>
                            {% for row in stocks %}
                            <tr>
                                <td>{{ row.symbol }}</td>
                                <td>{{ row.company_name }}</td>
                                <td>{{ row.day_close }}</td>
                                <td>{{ row.day_ema_200_1 }}</td>
                                <td>{{ row.day_ema_50_1 }}</td>
                                <td>{{ row.day_ema_20_1 }}</td>
                                <td {% if row.day_stoch_cross_1 %}class="green-col"{% endif %}>{{ row.day_stoch_black_1 }}</td>
                                <td {% if row.rsi_cross_1 %}class="green-col"{% endif %}>{{ row.day_rsi_1 }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js_scripts %}
<script src="{% static 'js/load_bengaluru.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/load_upload_file.js' %}" crossorigin="anonymous"></script>
{% endblock js_scripts %}
