<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card nifty-table">
            <div class="card-header border-bottom">
                <h3 class="card-title mb-0">Heikin-Ashi Cross</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="pt-3 txt-rt">
                        <span>Total - {{ total_stock }} | Remaining to calculate - {{ to_calculate }} | Stock Count - {{ ha_cross_count }}</span>
                    </div>
                    {% if ha_cross_list %}
                    <table class="green-table">
                        <tr>
                            <th>Symbol</th>
                            <th>Company</th>
                            <th>Close</th>
                            <th>RSI</th>
                        </tr>
                        {% for row in ha_cross_list %}
                        <tr>
                            <td>{{ row.symbol }}</td>
                            <td>{{ row.company_name }}</td>
                            <td>{{ row.wk_close }}</td>
                            <td>{{ row.day_rsi_0 }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
