{% load static %}
<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card nifty-table">
            <div class="card-header border-bottom">
                <h3 class="card-title mb-0">Stochastic Cross</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="pt-3 txt-rt">
                        <span>Total - {{ total_stock }} | Remaining to calculate - {{ to_calculate }} | Stock Count - {{ stoch_cross_list_count }}</span>
                    </div>
                    {% if stoch_cross_list %}
                    <table class="green-table">
                        <tr>
                            <th>S.No</th>
                            <th>Symbol</th>
                            <th>Company</th>
                            <th>Close</th>
                            <th>Stoch Black</th>
                            <th>Stoch Red</th>
                            <th>RSI</th>
                        </tr>
                        {% for row in stoch_cross_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ row.symbol }}</td>
                            <td>{{ row.company_name }}</td>
                            <td>{{ row.day_close }}</td>
                            <td>{{ row.day_stoch_black_0 }}{% if row.day_stoch_cross_0 %}<img src="{% static 'images/one.svg' %}" width="15">{% endif %}{% if row.day_stoch_cross_1 %}<img src="{% static 'images/two.svg' %}" width="15">{% endif %}</td>
                            <td>{{ row.day_stoch_red_0 }}</td>
                            <td>{{ row.day_rsi_0 }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
