{% load static %}
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="btn-list">
                        <button type="button" class="btn btn-primary" id="weekly_page" onclick="location.href='{% url 'stock_data' %}'">Weekly</button>
                        <button type="button" class="btn btn-primary" id="daily_page" onclick="location.href='{% url 'stock_data_day' %}'">Daily</button>
                        <button type="button" class="btn btn-primary" id="hourly_page" onclick="location.href='{% url 'stock_data_hour' %}'">Hourly</button>
                        <button type="button" class="btn btn-primary" id="m15_page" onclick="location.href='{% url 'stock_data_15min' %}'">15 Min</button>
                        <button type="button" class="btn btn-primary" id="m5_page" onclick="location.href='{% url 'stock_data_5min' %}'">5 Min</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
