<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card nifty-table">
            <div class="card-header border-bottom">
                <h3 class="card-title mb-0">Week Level 0 to 20 Negative</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="pt-3 txt-rt">
                        <span>Total - {{ total_stock }} | Remaining to calculate - {{ to_calculate }} | Stock Count - {{ week_level_0_to_20_negative_data_count }}</span>
                    </div>
                    {% if week_level_0_to_20_negative_data_list %}
                    <table class="green-table">
                        <tr>
                            <th rowspan="2">S.No</th>
                            <th rowspan="2">Symbol</th>
                            <th rowspan="2">Company</th>
                            <th rowspan="2">Close</th>
                            <th colspan="3">Week</th>
                            <th colspan="3">Day</th>
                        </tr>
                        <tr>
                            <th>Stoch Black</th>
                            <th>Stoch Red</th>
                            <th>RSI</th>
                            <th>Stoch Black</th>
                            <th>Stoch Red</th>
                            <th>RSI</th>
                        </tr>
                        {% for row in week_level_0_to_20_negative_data_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ row.symbol }}</td>
                            <td>{{ row.company_name }}</td>
                            <td>{{ row.wk_close }}</td>
                            <td>{{ row.wk_stoch_black_0 }}</td>
                            <td>{{ row.wk_stoch_red_0 }}</td>
                            <td>{{ row.wk_rsi_0 }}</td>
                            <td>{{ row.day_stoch_black_0 }}</td>
                            <td>{{ row.day_stoch_red_0 }}</td>
                            <td>{{ row.day_rsi_0 }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
