{% extends "base/base.html" %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="btn-list">
                        <button type="button" class="btn btn-primary load-500">Load Nifty 500</button>
                        <button type="button" class="btn btn-primary nse-500">Pull Nifty 500</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card nifty-table">
                <div class="card-header border-bottom">
                    <h3 class="card-title mb-0">Nifty 500</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="nifty_500"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block js_scripts %}
<script src="{% static 'js/load_500.js' %}" crossorigin="anonymous"></script>
{% endblock js_scripts %}
