{% load humanize %}

<table id="fhzero" class="green-table">
<tr>
    <th>Date</th>
    <th>Time</th>
    <th>Isin</th>
    <th>Tag</th>
    <th>Symbol</th>
    <th>Quantity</th>
    <th>Last Price</th>
    <th>Buy Price</th>
    <th>Sell Price</th>
    <th>Status</th>
</tr>
{% for item in items %}
<tr>
    <td>{{ item.date }}</td>
    <td>{{ item.time|date:'d-m-Y H:i:s' }}</td>
    <td>{{ item.isin }}</td>
    <td>{{ item.tag }}</td>
    <td>{{ item.symbol }}</td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.last_price }}</td>
    <td>{{ item.buy_price }}</td>
    <td>{{ item.sell_price }}</td>
    <td>{{ item.status }}</td>
</tr>
{% endfor %}
</table>
<div class="pt-3 txt-rt">
    Last Updated on {% now "d-m-Y H:i:s" %}
</div>