{% load humanize %}

<div class="card-header border-bottom">
    <h3 class="card-title mb-0">FH Zero Sold</h3>
    <div class="mar-30"> Total records
        <span class="badge bg-primary">{{ items|length }} nos.</span>
    </div>

</div>
<div class="card-body">
    <div class="table-responsive">
        {% if sold_data %}
        <table id="fhzero" class="green-table">
            <tr>
                <th>Symbol</th>
                <th>Quantity</th>
                <th>Rank</th>
                <th>PP</th>
                <th>Last Price</th>
                <th>Buy ID</th>
                <th>Sell ID</th>
                <th>Buy Price</th>
                <th>Sell Price</th>
                <th>High</th>
                <th>Trigger</th>
                <th>Status</th>
                <th>PL Status</th>
                <th>Profit/Loss</th>
            </tr>
            {% for item in sold_data %}
            <tr>
                <td>{{ item.symbol }}</td>
                <td>{{ item.quantity }}</td>
                <td>{% if item.rank %}{{ item.rank }}{% endif %}</td>
                <td class="value">{{ item.previous_price }}</td>
                <td class="value">{{ item.last_price }}</td>
                <td>{{ item.buy_id|default_if_none:"" }}</td>
                <td>{{ item.sell_id|default_if_none:"" }}</td>
                <td class="value">{{ item.buy_price }}</td>
                <td class="value">{{ item.sell_price }}</td>
                <td class="value">{{ item.high_price }}</td>
                <td class="value">{{ item.trigger_price }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.pl_status }}</td>
                <td class="value">{{ item.pl_price|floatformat:2 }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="9"></td>
                <td colspan="2">Total</td>
                <td class="value">{{ sold_data_realized|floatformat:2 }}</td>
            </tr>
        </table>
        {% endif %}

        <div class="pt-3 txt-rt">
            Last Updated on {% now "d-m-Y H:i:s" %}
        </div>
    </div>
</div>