{% load humanize %}

{% if items %}
<table class="green-table">
    <tr>
        <th>Rank</th>
        <th>Date</th>
        <th>Time</th>
        <th>Isin</th>
        <th>Symbol</th>
        <th>Company</th>
        <th>Last Price</th>
        <th>Percentage</th>
        <th>Status</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{% if item.rank %}{{ item.rank }}{% endif %}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.time|date:'d-m-Y H:i:s' }}</td>
        <td>{{ item.isin }}</td>
        <td>{{ item.symbol }}</td>
        <td>{{ item.company_name }}</td>
        <td class="value">{{ item.last_price }}</td>
        <td class="value">{{ item.percentage_change }}</td>
        <td class="text-center">
            <span class="badge {% if item.rank <= 5 %} bg-primary {% else %} bg-danger {% endif %}">
                {% if item.rank <= 5 %} Winner {% else %} Runner {% endif %}
            </span>
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}

<div class="pt-3 txt-rt">
    <span class="badge {% if polling_status %} bg-primary {% else %} bg-danger {% endif %}">Polling Status</span>
    | {{ last_pull_time|naturaltime }} | Last Updated on {% now "d-m-Y H:i:s" %}
</div>
