{% load humanize %}

<table id="fhzero" class="green-table">
<tr>
    <th>Date</th>
    <th>Time</th>
    <th>Isin</th>
    <th>Tag</th>
    <th>Symbol</th>
    <th>Status</th>
    <th>Action</th>
</tr>
{% for item in items %}
<tr>
    <td>{{ item.date }}</td>
    <td>{{ item.time|date:'d-m-Y H:i:s' }}</td>
    <td>{{ item.isin }}</td>
    <td>{{ item.tag }}</td>
    <td>{{ item.symbol }}</td>
    <td>{{ item.status }}</td>
    <td><button type="button" class="btn btn-primary">Approve</button></td>

</tr>
{% endfor %}
</table>
