{% load humanize %}

<table id="nifty500" class="green-table">
<tr>
    <th>Rank</th>
    <th>Date</th>
    <th>Time</th>
    <th>Isin</th>
    <th>Symbol</th>
    <th>Identifier</th>
    <th>Last Price</th>
    <th>Percentage</th>
    <th>Status</th>
    <th>Action</th>
</tr>
{% for item in items %}
<tr>
    <td>{% if item.rank %}{{ item.rank }}{% endif %}</td>
    <td>{{ item.date }}</td>
    <td>{{ item.time|date:'d-m-Y H:i:s' }}</td>
    <td>{{ item.isin }}</td>
    <td>{{ item.symbol }}</td>
    <td>{{ item.identifier }}</td>
    <td class="value">{{ item.last_price }}</td>
    <td class="value">{{ item.percentage_change }}</td>
    <td class="text-center"><span class="badge bg-primary">Primary</span></td>
    <td class="text-center"><button type="button" class="btn btn-primary" disabled>Buy</button></td>
</tr>
{% endfor %}
</table>
<div class="pt-3 txt-rt">{{ last_pull_time|naturaltime }} | Last Updated on {% now "d-m-Y H:i:s" %}</div>
