{% extends "base/base.html" %}
{% load static %}

{% block title %}
<title>{{page_title}}</title>
{% endblock title %}

{% block content %}

    {% for row in items %}
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card nifty-table">
                {% include "others/load_fh_view.html" %}
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock content %}

{% block js_scripts %}
<script src="{% static 'js/load_bengaluru.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/load_upload_file.js' %}" crossorigin="anonymous"></script>
{% endblock js_scripts %}
