{% extends "base/base.html" %}
{% load static %}

{% block title %}
<title>Oroose - Configuration</title>
{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="btn-list">
                        <button type="button" class="btn btn-primary modal_act" trigger-url="{% url 'upload_config_file' %}" data-toggle="modal" data-target="#modal_popup_area">Upload config</button>
                        <button type="button" class="btn btn-primary modal_act" trigger-url="{% url 'trend_page_upload' %}" data-toggle="modal" data-target="#modal_popup_area">Upload Stock</button>
                        <button type="button" class="btn btn-primary" id="pull_fh" onclick="location.href='{% url 'generate_smart_token' %}'">Generate Smart Token</button>
                        <button type="button" class="btn btn-primary" id="reset_config" onclick="location.href='{% url 'reset_configuration' %}'">Reset Config</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="modal_popup_area" tabindex="-3" role="dialog" aria-labelledby="modal_popup_location_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="modelresultarea" class="modal-content">
        </div>
    </div>
</div>

{% include "configuration/configuration_table.html" %}

    <!-- Polling data-->
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="btn-list">
                        <a href="{% url 'trend_page_fetch' 'wk' %}" class="btn btn-primary ser_act">Fetch Week</a>
                        <a href="{% url 'trend_page_reset_fetch' 'wk' %}" class="btn btn-primary ser_act">Reset Week</a>
                        <a href="{% url 'trend_page_fetch' 'day' %}" class="btn btn-primary ser_act">Fetch Day</a>
                        <a href="{% url 'trend_page_reset_fetch' 'day' %}" class="btn btn-primary ser_act">Reset Day</a>
                        <a href="{% url 'trend_page_fetch' 'hr' %}" class="btn btn-primary ser_act">Fetch Hour</a>
                        <a href="{% url 'trend_page_reset_fetch' 'hr' %}" class="btn btn-primary ser_act">Fetch Hour</a>
                        <a href="{% url 'trend_page_fetch' 'm15' %}" class="btn btn-primary ser_act">Fetch 15 Min</a>
                        <a href="{% url 'trend_page_reset_fetch' 'm15' %}" class="btn btn-primary ser_act">Reset 15 Min</a>
                        <a href="{% url 'trend_page_fetch' 'm5' %}" class="btn btn-primary ser_act">Fetch 5 Min</a>
                        <a href="{% url 'trend_page_reset_fetch' 'm5' %}" class="btn btn-primary ser_act">Reset 5 Min</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js_scripts %}
<script src="{% static 'js/load_upload_file.js' %}" crossorigin="anonymous"></script>
{% endblock js_scripts %}
