{% extends "base/base.html" %}
{% load static %}

{% block title %}
<title>Oroose - Configuration</title>
{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="btn-list">
                        <button type="button" class="btn btn-primary ser_act" id="pull_fh" trigger-url="{% url 'generate_smart_token' %}">Generate Smart Token</button>
                        <button type="button" class="btn btn-primary modal_act" trigger-url="{% url 'upload_config_file' %}" data-toggle="modal" data-target="#modal_popup_area">Upload config</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="modal_popup_area" tabindex="-3" role="dialog" aria-labelledby="modal_popup_location_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="modelresultarea" class="modal-content">
        </div>
    </div>
</div>

{% include "configuration/configuration_table.html" %}

    <div class="container">
        {% for conf_key, conf_value in param_configs.items %}
        <div class="row">
            <div class="card configure-settings">
                <div class="card-header border-bottom">
                    <h3 class="card-title mb-0">{{ conf_value.display_name }}</h3>
                </div>
                <div class="card-body">
                    <div id="parameter_{{ conf_key }}">
                        <table class="green-table">
                            <tr>
                                <th style="width:300px">Name</th>
                                <th>Value</th>
                            </tr>
                            {% for key, value in conf_value.value.items %}
                            <tr>
                                <td style="width:300px">{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="card configure-settings">
                <div class="card-header border-bottom">
                    <h3 class="card-title mb-0">Parameter Settings</h3>
                </div>
                <div class="card-body">
                    <div id="parameter_settings">
                        <table class="green-table">
                            <tr>
                                <th style="width:300px">Name</th>
                                <th>Value</th>
                            </tr>
                            {% for item in param_settings %}
                            <tr>
                                <td style="width:300px">{{ item.name }}</td>
                                <td class="text-center">
                                    <div class="form-check">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               value=""
                                               id="flexCheckDefault"
                                               data-target="{% url 'params_update' item.id %}"
                                               {% if item.status %}checked {% endif %}>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}

{% block js_scripts %}
<script src="{% static 'js/load_bengaluru.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/configure_settings.js' %}" crossorigin="anonymous"></script>
<script>

$( ".modal_act" ).click(function () {
    $.ajax({
      type: 'GET',
      url: $(this).attr('trigger-url'),
      beforeSend: function( xhr ) {
        $('.ajax-loader').css("visibility", "show");
      },
      success: function(data){
        $("#modelresultarea").html(data);
      },
      complete: function(data){
        $('.ajax-loader').css("visibility", "hidden");
      }
    })
});

</script>


{% endblock js_scripts %}
